<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ImageCastle" value="../../../../Castle.jpg"/>
    <add key="ImageFarm" value="../../../../Farm.jpg"/>
    <add key="ImageCrafthouse" value="../../../../Crafthouse.jpg"/>
    <add key="ImageWarrior" value="../../../../WarriorImage.jpg"/>
    <add key="ImagePeasantFree" value="../../../../PeasantFreeImage.jpg"/>
    <add key="ImagePeasantWorking" value="../../../../PeasantWorkingImage.jpg"/>
    <add key="ImagePeasantGoing" value="../../../../PeasantGoingImage.jpg"/>
    <add key="ImageRobber" value="../../../../RobberImage.jpg"/>
    <add key="ImageCraftsman" value="../../../../CraftsmanImage.jpg"/>
    <add key="ImageTrader" value="../../../../TraderImage.jpg"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
